#head{
    border:4px solid black;
}
#btn{
    background-color: #4CAF50;
    border: none;
    color: white;
}
#inner{
    background-color:green;
    width 50%;
    padding: 20px;
}
#container{
    background-color: green;
    width: 100%;
    height: 100%;
    /* position: relative; */
}
